#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .btn_edit{
    width: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: transparent;
    color: orange;
    margin-right: 10px;

    &:hover{
      background-color: black !important;
    }
  }

  .btn_delete{
    width: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: transparent;
    color: red;
    margin-right: 10px;

    &:hover{
      background-color: black !important;
    }
  }
  .btn{
    margin-left: 10px;
  }

  .modal-user-container{
    .modal-header{
      button{
        background: transparent;
        color: white;
        border: none;
        font-size: 27px;
      }
    }
    .modal-user-body{
      display: flex;
      gap: 5px;
      flex-wrap: wrap;

      .input-container{
        display: flex;
        flex-direction: column;
        width: 49%;
        &.max-width-input{
          width: 100%;
        }
      input{
        border-radius: 3px;
        height: 30px;
        border: 1px solid gray;
        outline:none;
        padding: 0 10px;
      }
    }
   
    }
  }