.login-background{
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    height: 100vh;      
    .login-container{
        border-radius: 15px;
        width: 300px;
        height: 450px;
        background: white;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;


        .login-content{
            padding: 10px;
        }
        .text-login{
            font-weight: 600;
            font-size: 25px;
            text-align: center;
            padding-top: 10px;
            }
        
        .login-input{
            margin: 7px 0;

            .custom-input-password{
                position: relative;
                
                i{
                    position: absolute;
                    right: 5px;
                    top:10px;
                    cursor: pointer;
                }
            }
        }
        .btn-login{
            color: white;
            width: 100%;
            background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
            margin: 10px 0;
            border: none;
            border-radius: 15px;
            height: 30px;
            outline: none;
        }
        .social-login{
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 15px;
            .google{
                font-size: 30px;
                background-color: #C32424;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                color: white;
            }
            .facebook{
                color: white;
                font-size: 30px;
                background-color: #3b5fca;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }

    }
}